<div class="row">
<div class="container-fluid">
    
    <form method="POST" action="/categories">
    <label>Create a New Category:<br><br><input id="category" type="text" name="newcagetory"></label>
    <input type="submit" value="Submit">
    </form>


<select name="category">
    <% categories.forEach(function(name){ %>
    <option value="<%= name.name %>"><%= name.name %></option>
    <% }); %>
 </select>




</div>
</div>


