
        <h3>Add Product:</h3>
            <form method="POST" action="/admin/add" enctype="multipart/form-data">
                
                <label>Product Name:</label><br>
                <input type="text" name="product_name"><br>
            <label>Price:</label><br>
                <input type="text" name="price">
                <br><br>
            <label>Category</label>
                <select name="category">
                    <% categories.forEach(function(name){ %>
                    <option value="<%= name.name %>"><%= name.name %></option>
                    <% }); %>
                </select><br><br>
                    <label>In stock</label>
                    <select name="in_stock">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                    </select><br><br>
                <div class="desc">
                <label>Description:</label><br>
                <input type="text" name="desc" size="20">
                </div>
            <br>
            <h4>Product image:</h4>
            <input type="file" name="image">
            <br>
            <input type="submit" value="Submit">
        </form>


