<ol class="breadcrumb">
            <li><a href="/">All products</a></li>
            <li><a href="/products/phones">Phones</a></li>
            <li><a href="/products/gadgets">Gadgets</a></li>
            <li><a href="/products/cpus">CPUs</a></li>
            <li><a href="/products/books">Books</a></li>
            <li><a href="/products/gpus">GPUs</a></li>
</ol>