
<ol class="breadcrumb">
    <li><a href="/">All products</a></li>
    <% categories.forEach(function(name){ %>
        <li><a href="/products/<%= name.name %>" id="<%= name.name %>" class="link" value="<%= name.name %>"><%= name.name %></a></li>
    <% }); %>
</ol>