
<h2>My Cart:</h2>
<h3>Items:</h3>

<p>building my cart page.</p>
<p>will redirect to the page where it was clicked</p>
<p>my cart will be accessed as a seperate link
check the <b>console</b> to see the product which was clicked.</p>
<b>


