<% include partials/header %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
   <h2>MY Online Store</h2>
    </div>
  </div>
</div>


<div id="mycart" class="container">
  <div class="text-right">
       <a href="/mycart" <button class="btn btn-primary">My-Cart <span class="badge badge-secondary"><%= amount %></span></a>
      <span class="sr-only">unread messages</span>
</button>
  </div>
</div>



<div class="row">
  <div class="well">
    <div class="col-xs-10">
       <h3><%= type %></h3> 
        <!-- Breadcrumbs -->
      <% include partials/breadcrumbs %>
        <div class="text-center">
          <!-- List -->
        <% include partials/list %>
       </div>
    </div>
  </div>
    <div class="coloum">
      <div class="col-xs-2">
        <% include partials/addproduct %>
       </div>
    </div>
</div>



<h3><% include partials/footer %></h3>





